{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Testing Console</h1>
        <p class="lead">If you're here there's only one thing to do...</p>
        <p class="lead">... Fight, cowards!</p>
    </div>
    <form action="POST">
        {% csrf_token %}
        <div class="form-group">
            {% for character in character_list %}
                <p>{{ character.first_name }} {{ character.last_name }} - HP: {{ character.health }}</p>
            {% endfor %}

            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    
                </div>
                <div class="btn-group mr-2" role="group" aria-label="Second group">
                    <button type="button" class="btn btn-secondary">Heal 10 Health</button>
                </div>
                <div class="btn-group" role="group" aria-label="Third group">
                    <button type="button" class="btn btn-secondary" disabled>Action</button>
                </div>
            </div>

        </div>
    </form>
</div>

{% endblock %}