{% extends "base.html" %}
{% load staticfiles %}

<form action="">
    <div class="form-group">
        <ul>
            {% for character in characterList %}
                <li>{{ character.first_name }} {{ character.last_name }}</li>
            {% endfor %}
        </ul>
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <button type="button" class="btn btn-secondary">Attack</button>
            </div>
            <div class="btn-group mr-2" role="group" aria-label="Second group">
                <button type="button" class="btn btn-secondary">Heal</button>
            </div>
            <div class="btn-group" role="group" aria-label="Third group">
                <button type="button" class="btn btn-secondary">Action</button>
            </div>
        </div>
    </div>
</form>

{% endblock %}